.u-section-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  animation-duration: 2250ms;
  margin: 251px 548px 0 64px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  animation-duration: 2500ms;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 8px 453px 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 229px;
    margin-right: -98px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 3.75rem;
    margin-right: -184px;
    margin-left: 601px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 500px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
    margin-left: 491px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 410px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 54px;
    margin-left: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 345px;
    margin-right: 34px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: -53px;
    margin-bottom: 18px;
    margin-left: 170px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-2 .u-shape-1 {
  width: 456px;
  background-image: none;
  left: 0;
  right: auto;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  width: 639px;
  height: 402px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px 20px 28px;
}

.u-section-2 .u-line-1 {
  width: 69px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 3px;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  margin: 20px -1px 0 3px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 10px -1px 0 3px;
}

.u-section-2 .u-text-3 {
  margin: 6px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  margin: 44px auto 0 3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-shape-1 {
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    width: 513px;
    height: 359px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 312px;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
    width: 348px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-image-1 {
    width: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-shape-1 {
    width: 280px;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
    width: 290px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 242px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 37px 0 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 195px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 929px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 375px;
  height: 360px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 59px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 351px;
  height: 351px;
  animation-duration: 1000ms;
  margin: -411px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 2px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  margin-left: 0;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 326px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  line-height: 40px;
  text-transform: none;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 1px;
  margin-top: 20px;
}

.u-section-4 .u-image-2 {
  min-height: 539px;
  background-image: url("images/w1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-4 .u-shape-1 {
    height: 273px;
    width: 275px;
  }

  .u-section-4 .u-image-1 {
    width: 291px;
    height: 267px;
    margin-top: -324px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 269px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    height: 405px;
    width: 587px;
  }

  .u-section-4 .u-image-1 {
    width: 638px;
    height: 383px;
    margin-top: -456px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 583px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-4 .u-shape-1 {
    height: 291px;
    width: 480px;
  }

  .u-section-4 .u-image-1 {
    width: 466px;
    height: 286px;
    margin-top: -350px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-4 .u-shape-1 {
    height: 216px;
    width: 299px;
  }

  .u-section-4 .u-image-1 {
    width: 281px;
    height: 217px;
    margin-top: -275px;
  }

  .u-section-4 .u-image-2 {
    min-height: 322px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 459px;
}

.u-section-5 .u-text-1 {
  width: 787px;
  margin: 43px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px 0 43px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 287px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 176px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 287px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 176px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 287px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin-right: -1px;
  margin-left: 0;
  margin-top: 20px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 287px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 314px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-5 .u-image-1 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-5 .u-image-2 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-5 .u-image-3 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-5 .u-image-4 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 259px;
  }

  .u-section-5 .u-image-5 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-5 .u-image-1 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-5 .u-image-2 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-5 .u-image-3 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 374px;
  }

  .u-section-5 .u-image-4 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 374px;
  }

  .u-section-5 .u-image-5 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 245px;
    width: 320px;
  }

  .u-section-5 .u-image-2 {
    height: 245px;
    width: 320px;
  }

  .u-section-5 .u-image-3 {
    height: 245px;
    width: 320px;
  }

  .u-section-5 .u-image-4 {
    height: 245px;
    width: 320px;
  }

  .u-section-5 .u-image-5 {
    height: 245px;
    width: 320px;
  }
}.u-section-7 {
  min-height: 690px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 21px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 648px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/2016_rolls-royce_black_edge_13_1600x1200-e1602577851697-1224x900.jpg");
  min-height: 324px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 324px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-7 .u-text-1 {
  margin: 71px 20px 0;
}

.u-section-7 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 324px;
  background-image: none;
}

.u-section-7 .u-text-2 {
  margin: 113px 20px 0;
}

.u-section-7 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/3f93a8d64e7733bebfcf257992b470dd.jpeg");
  min-height: 324px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-wrap-2 {
  width: calc(((100% - 1140px) / 2) + 570px);
  margin: -648px auto 21px 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 678px;
  background-image: none;
}

.u-section-7 .u-shape-1 {
  width: 576px;
  height: 339px;
  background-image: none;
  margin: 155px 16px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 570px;
  height: 417px;
  filter: brightness(0.9);
  margin: -420px auto 0 26px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 576px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 534px;
  }

  .u-section-7 .u-image-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 267px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: calc(((100% - 940px) / 2) + 570px);
  }

  .u-section-7 .u-shape-1 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    width: 330px;
    height: 241px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1678px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 540px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-7 .u-image-1 {
    min-height: 409px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    min-height: 409px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: calc(((100% - 720px) / 2) + 570px);
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 2368px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 746px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-7 .u-image-1 {
    min-height: 614px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-2 {
    order: 0;
    min-height: 614px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 932px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1358px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-7 .u-image-1 {
    min-height: 387px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-2 {
    min-height: 387px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 587px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 570px;
}

.u-section-8 .u-layout-wrap-1 {
  min-height: 476px;
  margin: 70px auto 70px 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 6px 0 0;
}

.u-section-8 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 308px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 15px;
  }
}