.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 461px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 603px 0 -25px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 613px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 96px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 3px 0 0;
}

.u-section-1 .u-image-1 {
  height: 240px;
  margin-top: -1px;
  margin-bottom: 0;
  object-position: 0% 0%;
}

.u-section-1 .u-group-2 {
  min-height: 300px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 16px 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 158px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  width: 233px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 96px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 28px 0 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 3px 0 0;
}

.u-section-1 .u-image-2 {
  height: 240px;
  margin-top: -1px;
  margin-bottom: 0;
  object-position: 97.48% 100%;
}

.u-section-1 .u-group-4 {
  min-height: 300px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 16px 30px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 158px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  width: 233px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 96px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 28px 0 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 3px 0 0;
}

.u-section-1 .u-image-3 {
  height: 240px;
  margin-top: -1px;
  margin-bottom: 0;
  object-position: 50.84% 0%;
}

.u-section-1 .u-group-6 {
  min-height: 300px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 16px 30px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 158px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  width: 233px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 503px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 273px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -3px;
  }

  .u-section-1 .u-group-3 {
    background-size: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: 273px;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -3px;
  }

  .u-section-1 .u-group-5 {
    background-size: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    width: 273px;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 26px;
  }

  .u-section-1 .u-btn-3 {
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 393px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1160px;
  }

  .u-section-1 .u-image-1 {
    height: 152px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-image-2 {
    height: 152px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 3px;
  }

  .u-section-1 .u-image-3 {
    height: 152px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 303px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 114px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-2 {
    height: 114px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-3 {
    height: 114px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-1 {
    height: 72px;
  }

  .u-section-1 .u-image-2 {
    height: 72px;
  }

  .u-section-1 .u-image-3 {
    height: 72px;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 79px;
  }
}